<div class="container">
  <a routerLink="product-create">Create New</a>
  <div class="row">
    <div class="col-3 d-flex justify-content-around">STT</div>
    <div class="col-3 d-flex justify-content-around">Name</div>
    <div class="col-3 d-flex justify-content-around">Price</div>
    <div class="col-3 d-flex justify-content-around">Action</div>
  </div>
  <div class="row" *ngFor="let product of products; index as i">
    <div class="col-3 d-flex justify-content-around">{{ i + 1 }}</div>
    <div class="col-3 d-flex justify-content-around">{{ product.name }}</div>
    <div class="col-3 d-flex justify-content-around">{{ product.price }}</div>
    <div class="col-3 d-flex justify-content-around">

      <button class="btn btn-blue" (click)="delete(product.id!)">Xóa</button>
      <button class="btn " [routerLink]="'products/detail'+product.id">Chi tiet</button>
      <button class="btn " [routerLink]="'products/update'+product.id">Update</button>
    </div>
  </div>
</div>